<h2 mat-dialog-title>Enter Pinata API Information</h2>
<div class="detailForm-body" *ngIf="formGroup" [formGroup]="formGroup">
  <div mat-dialog-content>
    <div class="detailForm-formBox">
      <div class="detailForm-item">
        <mat-form-field>
          <mat-label y-form-field-info>Pinata config CID</mat-label>
          <input matInput required formControlName="pinataConfigCid">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions align="end" class="m-b-20">
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>Install</button>
</mat-dialog-actions>