<p>audit-management works!</p>
<p>
    Nad gridom bude indentita moja, na základe toho ako som prihlásený
    Tu bude grid, ktorého detail si môžeme otvoriť vo vysúvacom okne, alebo klinutím na grid- rozšírenie riadku
    Táto karta bude mať aj badge, aby som vedel či sú nejaké pending audity
    Minimálne 5 ľudí musí potvrdiť tranzakciu, potom sa vykoná a odošle na blockchain
    Posledný 5. človek spustí tranzakciu.

    Potom môžem pridať niečo také, že sa všetkým odošle mail o tom, že treba skonrolovať nový audit
</p>