mat-card-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

::ng-deep {
    .mat-mdc-card-header-text {
        display: none;
    }
}
