<div class="detailForm-header" fxLayout="row" fxLayoutAlign="space-between"
    [ngClass]="(formGroup?.enabled)? 'detailForm-edit-header' : ''">
    <h1>Document</h1>
    <div class="action">
        <button *ngIf="!formGroup?.enabled" mat-raised-button (click)="edit()">Edit</button>
    </div>
</div>
<mat-divider></mat-divider>

<ag-grid-angular 
    #documentGrid 
    class="ag-theme-quartz" 
    style="height: 400px;" 
    [columnDefs]="colDefs"
    rowSelection="single" 

    [rowData]="rowData">
</ag-grid-angular>

<div class="detailForm-body m-t-20" *ngIf="formGroup" [formGroup]="formGroup"
    [ngClass]="(formGroup?.enabled)? 'detailForm-edit-body' : ''">

    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload" fxLayout="row" fxLayoutGap="2%">
        <p class="file-upload p-r-20">
            {{fileName || "No file uploaded yet."}}
        </p>
        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
    </div>
</div>