<div id="dashboard">
  <section class="dash-row">
    <mat-card fxLayout="column">
      <mat-card-title>
        Welcome!
      </mat-card-title>
      <mat-card-subtitle>This is CompanyChain management dashboard!</mat-card-subtitle>
      <mat-card-content fxLayout="row" fxLayoutAlign="center center" fxFlex="grow">
        <img mat-card-image style="height: 170px"
          src="https://gistcdn.githack.com/mike-schultz/10a1a059f77cc33a350d85a0870397e2/raw/d11f4b4804d9a49faec957a1d51c3d4e5174477c/data_xmfy.svg" />
      </mat-card-content>
      <mat-card-footer>
        <button mat-button mat-raised-button color="primary" (click)="sendEmail()">Contact Support</button>
      </mat-card-footer>
    </mat-card>
    <mat-card id="card-0-1" style="color: white">
      <mat-card-title>
        Traffic
      </mat-card-title>
      <mat-card-subtitle style="color: white">www.yourwebsite.com</mat-card-subtitle>
    </mat-card>
    <mat-card id="card-0-2">
      <mat-card-title>
       Configs
      </mat-card-title>
      <mat-card-subtitle>Downloaded configurations:</mat-card-subtitle>
      <span>Configuration from: {{cid}}</span>
      <button class="m-t-30" mat-raised-button color="warn" (click)="deleteIndexDb()">Reload configurations!</button>
      <span class="m-t-10">Note: To refresh tables you need to restart database servers, since tables cannot be dropped!</span>
    </mat-card>
  </section>
  <section class="dash-row">
    <mat-card fxFlex="2">
      <mat-card-title class="m-b-16">
        Employees
      </mat-card-title>
      <mat-card-subtitle>Number of employees:</mat-card-subtitle>
      <span class="big-number">8</span>
    </mat-card>
    <mat-card id="card-1-1">
      <iframe style="width:100%; height:300px;" src="https://www.coindesk.com/embedded-chart/fFf6jkp9TFw8G" width="100%" frameborder="0" scrolling="no"></iframe>
    </mat-card>
  </section>
  <section class="dash-row">
    <mat-card>
      <mat-card-content>
        <iframe class="gas-cards-iframe" src="https://www.blocknative.com/gas-iframe" style="width:100%;height:500px;display:block"></iframe>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </section>
</div>